.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f6f8f9;
    position: relative;
    border: 2px solid seagreen;
}

p {
    font-family: 'Oswald', sans-serif;
}

/* ჰედერი  */

.header {
    max-width: inherit;
    width: inherit;
    padding: 1.3% 2% 1.3% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f8f9;
    position: fixed;
    top: 0;
}

.logo {
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding-left: 30px;
    animation-name: color;
    font-family: 'Oswald', sans-serif;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes color {
    0% {color: rgb(0, 112, 0);}
    25% {color: rgb(4, 170, 4); }
    50% {color: rgb(2, 195, 2);}
    70%{ color: rgb(3, 234, 3);}
    100% { color:rgb(0, 255, 0, 0.2);}
}


li {
    font-size: 0.68rem;
    color: #343638;

}


.menubar {
    display: flex;
    gap: 7%;
    padding-right: 9%;

}

.home :hover::after {
    width: auto;
    height: 3px;
    content: "";
    display: block;
    background-color:#FA6980;
}

.news :hover::after {
    width: auto;
    height: 3px;
    display: block;
    content: "";
    background-color: #FA6980;
}

.photos :hover::after {
    width: auto;
    height: 3px;
    content: "";
    display: block;
    background-color:#FA6980;
}

.contact :hover::after {
    width: auto;
    height: 3px;
    content: "";
    display: block;
    background-color: #FA6980;
}

.active {
    color: rgb(33, 30, 30);
    font-weight: bolder;
}

/* ჰედერის დასასრული */


/* პირველი სექცია */

.section1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 55%;
    height: 599px;
    display: flex;
    justify-content: center;
    text-align: start;
    background-image: url(../images/0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.texts {
    width: 80%;
    margin-top: 180px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.title1 {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 3px solid white;
}

.subtitle{
    padding-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}


.button {
    width: 134px;
    height: 40px;
    font-size: 0.6875rem;
    font-weight: bold;
    background-color: #fa6980;
    border-color: #FA6980;
    color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
}

/* მარცხენა ნაწილის დასასრული */

/* მარჯვენა ნაწილი */

.right {
    width: 45%;
    height: 599px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #ffffff;



}

.maintitle {
    width: 70%;
    font-weight: bold;
    font-size: 1.5rem;


}

.article1{
    width: 70%;
    height: 130px;

}

.line1 {
   margin-top: 30px;
    color: #fa6980;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}

.line2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.line3 {
    color: #a6adb4;
    width: 381px;
    margin-bottom: 10px;
}

.time{
 display: inline-block;
 font-size: 10px;

}

.articles2{
    width: 70%;
    height: 130px;
    margin-top: 30px;
}

/* მარჯვენა ნაწილის დასასრული */

/* პირველი სექციის დასასრული */


/* მეორე სექცია */

.section2 {

    width: 80%;
    height: 410px;
    margin: 0 auto;

}


.maintitle2{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 25px;
}
.box1{
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;

}

.figure2{
    width: 31.2%;
    background-color:#FFFFFF ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    

}

.pic{
    width: 100%;
    height: 55%;
    text-align: start;
    transition-duration: 2s;
}

.pic:hover {
    transform: scale(2);
    cursor: pointer;
}

.figcaption2{
    font-size: 16px;
    width: 70%;
    padding-top: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}


.text3{
    background-color: #FFFFFF;
    font-size: 12px;
    width: 70%;
    color: #A6ADB4;   
}


/* მეორე სექციის დასასრული */

/* მესამე სექციის დასაწყისი */

.section3 {
    width: 80%;
    margin: 0 auto 100px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(0, 0, 0);
}
.images {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

/* მარცხენა ნაწილი */


.leftpart {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}


.img1{
    width: 100%;
    height: 430px;
    background-image: url(../images/4.png );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;

    
}

.img2{
    width: 100%;
    height: 430px;
    background-image: url(../images/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}


.line4 {
    color: white;
    margin: 50px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.line5 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 230px;
    margin-left: 40px;
    font-family: 'Oswald', sans-serif;
}

.line6{
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

/* მარჯვენა მხარე */

.rightpart{
    display: flex;
    flex-direction: column;
    width: 37%;
   
}

.imgnews{
margin-left: 50px;
}


.smalltitle{
    font-size: 16px;
    width: 70%;
    margin-top: 30px;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.figure3{
    margin-bottom: 60px;
    border-radius: 6px;
}


/* მესამე სექციის დასასრული */

/* ფუთერის დასაწყისი */



